---
title     : GitHub Kaigi
bodyclass : index
layout    : layout
---

#main
  .text
    %section#section-detail.cols
      %h1 Details

      .col4
        %h2 What?
        %p
          GitHub KaigiはGitHub User Group主催のイベントであり、GitHubの正式なイベントではありません。
        %p
          GitHub Kaigi is an event organized by the GitHub User Group and is not an official GitHub event.

      .col4
        %h2 Where
        %p
          %a{href: "http://www.cyberagent.co.jp/", target: "_blank"} CyberAgent, Inc.
          %br
          SHIBUYA MARK CITY WEST
        %p
          %a{href: "http://goo.gl/maps/G8niX", target: "_blank"} Google Map

      .col4
        %h2 When?
        %p
          Sunday, June 1st 2014,
          1:00pm until 7:00pm

      .col4
        %h2 How?
        %p
          Doorkeeperから参加登録ができます
        %a{href: "", class: "btn-green"}
          Registration

    %section#section-time-table.cols
      %h1 Time table

      .col
        %ul.time-table-list
          - data.timetable.each do |tt|
            %li
              .head
                .time
                  = tt.time
                .speaker-name
                  = tt.speaker
              .body
                = tt.body

    %section#section-speaker.cols
      %h1 Session & Speaker

      %ul.speaker-list
        - data.speaker.each do |speaker|
          %li.speaker-list-item<>
            .speaker
              .avatar
                %a{href: "https://github.com/#{speaker.id}", target: "_blank"}
                  %img{ src: "https://avatars2.githubusercontent.com/u//#{speaker.gravatar}", alt: 'Avatar' }
              .info
                .session
                  = speaker.title
                .names
                  .fullname
                    = speaker.fullname
                  .sns
                    %a{href: "https://github.com/#{speaker.id}", target: "_blank"}
                      %i.icon-github-alt
                .detail
                  = speaker.organization
    %section#section-lt.cols
      %h1 LT

      .lt-guideline
        %p
          1人あたり持ち時間は5分を予定していますので、GitHubメンバーに一言言いたい方、GitHubを活用した面白い事例の紹介など幅広い応募をお待ちしております。
          %br
          LTに当選した方には記念品を贈呈します。
        %h2
          発表にあたっての注意事項
        %p
          LT登壇者も
          %a{href: "http://githubkaigi.doorkeeper.jp/events/xxxx", target: "_blank"}
            http://githubkaigi.doorkeeper.jp/events/xxxx
          から参加登録をお願いします。

      .nav-to-lt-form
        %h2 LT応募方法
        %p
          %a{href: "https://github.com/GitHubKaigi/2014-LT-Application", target: "_blank"}
            こちらのリポジトリ
          にIssueを登録してください。
          %br
          タイトルに発表タイトル、本文には簡単な内容の紹介とサイトに掲載する際のお名前、所属などをお願いします。
          %br
          %a{href: "https://github.com/GitHubKaigi/2014-LT-Application", target: "_blank", class: "btn-green"}
            LT応募先

    %section#section-team.cols
      %h1 Team

      %ul.team-list
        - data.team.each do |member|
          %li.team-list-item<>
            %a{href: "https://github.com/#{member.id}", target: "_blank"}
              %img{ src: "https://avatars2.githubusercontent.com/u//#{member.gravatar}?s=100", alt: 'Avatar' }
              %span.userid
                @#{member.id}

